{% extends 'base.html' %}
{% block content %}

<h1>Guitar Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ guitar.model }}</span>
    <p>Breed: {{ guitar.brand }}</p>
    <p>Description: {{ guitar.description }}</p>
    {% if guitar.year < 1980 %}
        <p>Vintage: {{ guitar.year }}</p>
    {% else %}
        <p>Year: {{ guitar.year }}</p>
    {% endif %}
  </div>
  <div class="card-action">
        <a href="{% url 'guitars_update' guitar.id %}">Edit</a>
        <a href="{% url 'guitars_delete' guitar.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Gig</th></tr>
      </thead>
      <tbody>
        {% for strumming in guitar.strumming_set.all %}
          <tr>
            <td>{{strumming.date}}</td>
            <td>{{strumming.get_gig_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<!-- display guitar photos -->
    {% for photo in guitar.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}

<!-- form for adding photos -->
<form action="{% url 'add_photo' guitar.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>

{% endblock %}